:root{
    --myred: #bc2929;
    --lightred: #ef1a1a;
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: white;
    color: #555;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    font-size: 20px;
    font-family: 'PT Serif';
    letter-spacing: 1px;
    scroll-behavior: smooth;
}

/*clear the float*/
.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 100px 0;
    
}

/*HEADER*/

header {
    background-image: url(/image/headerback.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    border-bottom: 3px solid var(--myred);
}

.name-box {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.name-box p {
    margin-bottom: 50px;
    color: #bebebe;
    letter-spacing: 1.5px;
    word-spacing: 3px;
    font-size: 120%
}

/* Main Nav*/

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
    font-family: 'Poppins';
    font-weight: 600;
    text-transform: uppercase;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    color: var(--myred);
    border-bottom: 2px solid transparent;
    transition: all 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active {
    color: var(--lightred);
    border-bottom: 2px solid var(--lightred);
}


/*Sticky Nav*/
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #172231;
    box-shadow: 0 3px 2px var(--myred);
    z-index: 9999;
}

.sticky .main-nav { 
    margin-top: 3%;
    margin-bottom: 3%;
}
.sticky .logo { 
    height: 65px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*Mobile Nav*/

.mobile-nav-icon {
    position: absolute;
    margin-top: 30px;
    cursor: pointer;
    z-index: 999;
    right: 5%;
    display: none;
}

.mobile-nav-icon ion-icon {
    font-size: 200%;
    color: var(--myred);
}

/*LOGO*/

.logo {
    height: 90px;
    width: auto;
    float: left;
    border-radius: 50%;
    margin-top: 25px;
    position: absolute;
    z-index: 999;

}

/*HEADING*/

h1, h2, h3, h4, h5 {
    color: var(--myred);
    font-family: 'Poppins';
    letter-spacing: 1px;
    text-align: center;
}

h1 {
    font-size: 300%;
    word-spacing: 4px;
    margin-bottom: 30px;
    font-weight: 700;
}

h2 {
    font-size: 130%;
    font-weight: 600;
}

h1:after,
h2:after {
    display: block;
    height: 2px;
    background-color: #670b0b;
    content: " ";
    width: 300px;
    margin: 0 auto;
    margin-top: 10px;
}

h2:after {
    width: 100px;
    margin-top: 5px;
}

.skill-header {
    font-size: 150%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.work-header {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 160%
}

h4, h5 {
    font-size: 100%;
    text-align: left;
    color: black;
}

h5 {
    color: white;
}


/*Buttons*/

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 400;
    font-family: 'Poppins';
    text-decoration: none;
    border-radius: 200px;
    margin: 10px 25px;
    transition: all 0.5s;
}


.btn-ghost:link,
.btn-ghost:visited {
    border: 2px solid var(--myred);
    font-size: 120%;
    color: var(--myred);
}

.btn-fill:link,
.btn-fill:visited {
    background-color: var(--lightred);
    font-size: 120%;
    color: whitesmoke;
    border: 2px solid var(--lightred);
}

.btn:hover,
.btn:active {
    background-color: var(--myred);
}

.btn-ghost:hover,
.btn-ghost:active {
    color: white;
}

.btn-fill:hover,
.btn-fill:active {
    border: 2px solid var(--myred);
}


.main-nav li a.btn.btn-fill {
    font-size: 100%;
    color: white;
    margin: 0;
    padding: 5px 15px;
    font-weight: 600;
}

.main-nav li a.btn.btn-fill:hover,
.main-nav li a.btn.btn-fill:active {
    border: 2px solid var(--myred);
}

.about-btn {
    margin-top: 20px;
    text-align: center;
}

/*About Page*/
.about-page {
    background-color: #f4f4f4;
}

.intro-text, .seeking-job {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%
}

.intro-text {
    text-align: center;
    line-height: 150%;
    font-size: 200%;
    font-family: 'Poppins';
    margin: 20px;
    padding: 15px 10px 30px;
    font-weight: 600;
    color: black;
}

.seeking-job {
    font-style: italic;
    word-spacing: 2.5px;
    letter-spacing:1px;
    line-height: 30px;
    margin-bottom: 10px;
}

.seeking-job a:link,
.seeking-job a:visited {
    text-decoration: none;
    color: var(--lightred);
    font-weight: 700;
    transition: all 0.5s;
}

.seeking-job a:hover,
.seeking-job a:active {
    color: var(--myred);
}

.about-me, .skills {
    padding: 3%;
}

.skills {
    margin-top: 5%
}

.about-me a:link,
.about-me a:visited {
    text-decoration: none;
    color: var(--lightred);
    font-weight: 700;
    border-bottom: 2px solid transparent;
    transition: all 0.5s;
}

.about-me a:hover,
.about-me a:active {
    color: var(--myred);
    border-bottom: 2px solid var(--myred);
}

.bio {
    line-height: 160%;
    word-spacing: 2px;
    margin: 0;
    color: black;
    font-size: 90%;
    margin: 0 10px;
    letter-spacing: 1.5px;
}

.photo {
    width: 50%;
    height: auto;
    border-radius: 50%;
    border: 2px solid var(--myred);
    margin-bottom: 30px;
    margin-left: 25%;
}

.bar {
    background-color: #e2e2e2;
    position: relative;
    display: block;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    height: 30px;
    width: 90%;
    margin: 5% 0 5% 5%;
}

.bar.fill {
    left: 0;
    top: 0;
    background-color: var(--myred);
    position: absolute;
    opacity: 1;
    padding: 0;
    margin: 0;
}

.tag {
    position: absolute;
    background-color: var(--lightred);
    font-family: "Poppins";
    color: whitesmoke;
    width: 110px;
    font-size: 90%;
    height: 100%;
}

.tag p{
    padding-top: 2px;
    text-align: center;
}

span {
    float: right;
    margin-right: 1%;
    margin-top: 1%;
    font-size: 90%;
}

/*Resume*/

.experience-row {
    display: inline-block;
    margin: 0;
}
.experience-row img{
    width: 15%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    text-align: center;
}

.experience-row a:link,
.experience-row a:visited {
    text-decoration: none;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 110%;
    color: var(--lightred);
    transition: all 0.5s;
}

.experience-row a:hover,
.experience-row a:active {
    color: var(--myred);
}

.work-place {
    padding-left: 10px;
    padding-top: 20px;
}

.span-3-of-5 {
    border-left: 2px solid #b9b7b7;
    margin: 0; 
    margin-top: 20px;
}

.work-duty {
    margin: 15px 40px 50px 25px;
    padding-left: 20px;
    padding-bottom: 10px
}

.work-duty a:link,
.work-duty a:visited {
    font-family: 'PT Serif';
    font-size: 95%;
}

.work-duty p {
    margin-top: 20px;
    line-height: 160%;
    word-spacing: 1.5px;
    letter-spacing: 1px;
}

.work-date {
    font-family: 'PT Serif';
    font-weight: 400;
    font-size: 80%;
    font-style: italic;
}

.skill {
    display: inline-block;
    border: 2px solid #fa6c6c;
    border-radius: 8px;
    font-size: 70%;
    font-weight: 500;
    line-height: 130%;
    padding: 5px;
    margin: 10px 15px;
    float: left;
}

.software-skill {
    border-color: skyblue;
}

.other-skill {
    border-color: #59d6ac
}

.courses {
    line-height: 160%; 
    margin-top: 20px;
    margin-left: 50px;
}

/*Project*/

.project-page {
    background-color: #fff5f5;
}

.item {
    overflow: hidden;
    height: 270px;
    position: relative;
}

.myproject {
    text-decoration: none;
    display: block;
}

.myproject img {
    width: 100% ;
    height: 100%;
    position: absolute;
}

.myproject .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(88, 9, 9, 0.83);
    color: white;
    height: 100%;
    width: 100%;
    padding: 15px 20px;
    opacity: 0;
    transition: all 0.7s;
}

.myproject .overlay:hover {
    opacity: 1;
}

.project-name p{
    font-size: 90%;
    color: #b1b1b1;
    padding-top: 10px;
}

.more-icon {
    width: 15%;
    height: 20%;
    text-align: center;
    font-size: 15px;
    top: 60%;
    left: 42.5%; 
    position: absolute;
}

.more-project {
    text-align: center;
    margin-top: 5%;
}
/*Contact*/

.contact-page {
    background-color: #a21919;
}

.contact-page h2 {
    color: #000000
}

.contact-intro {
    color: aliceblue;
}

.contact-me {
    color: #f2c7c7;
    font-style: italic;
    text-align: center;
    
}

ion-icon {
    font-size: 350%;
    display: block;
    color: white;
    margin-bottom: 10px;
}

.email a:link,
.email a:visited {
    text-decoration: none;
    font-family: "Poppins";
    font-weight: 500;
    color: #3b9bef;
    transition: all 0.5s;
}

.email a:hover,
.email a:active {
    color: #c35757;
}

.contact-site {
    margin-top: 8%;
    text-align: center;
    margin-bottom: 20px;
}

.contact-site h4 {
    font-size: 150%;
    text-align: center;
    margin: 10px 0;
}

.contact-icon {
    text-align: center;
    width: 20%;
    margin-left: 40%;
    display: block;
}

/*Footer*/

footer {
    background-color: black;
    padding: 60px;
    text-align: center;
    font-size: 90%;
    position: relative;
}

.go-top a:link,
.go-top a:visited {
    position: absolute;
    top: -24px;
    left: 45%;
    transition: all 1s;
}

.go-top a:hover,
.go-top a:active {
    
}

.up-icon:hover,
.up-icon:active {
    color: #e86065;
}

.bar-js,
.photo-js,
.duty-1-js,
.duty-2-js,
.contact-js {
    opacity: 0; /*not visible the varible*/
    animation-duration: 1.5s;
}

.bar-js.animated,
.photo-js.animated,
.duty-1-js.animated,
.duty-2-js.animated,
.contact-js.animated { /*a class have js--wp-1 and animated class at the same time*/
    opacity: 1;
} 

/*Popup Window*/ 

.popup-window {
    position: relative;
    background: #FFF;
    max-width: 700px;
    margin: 120px auto; 
}

.popup-window img {
    width: 100%;
    min-height: 300px;
}

.links {
    background-color: black;
    padding: 20px;
}

.links a:link,
.links a:visited {
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 600;
    color: var(--myred);
    margin: 10px 20px;
    transition: all 0.5s;
}

.links a:hover,
.links a:active {
    color: var(--lightred);
}

.popup-modal-dismiss {
    cursor: pointer;
}

.project-description {
    margin: 10px 20px;
    padding: 10px;
}

.project-description h5 {
    color: black;
    word-spacing: 2px;
    font-size: 90%
}

.project-description p {
    margin: 15px 0;
    font-size: 80%;
    line-height: 150%;
    word-spacing: 1.5px;
    letter-spacing: 1px;
}

.project-description span {
    margin: 10px 15px 10px 0;
}

